/* CSS file */


.appAccount {
	horizontalAlign: center;
	verticalAlign: top;
	background-color: #00780b;
	themeColor: #00FF06;
	textAlign: center;
	backgroundGradientAlphas: 1.0, 0.12;
	backgroundGradientColors: #F7FA05, #C0D320;
	borderStyle: none;
	cornerRadius: 4;
	borderThickness: 0;
	/*background-image: "@Embed('../res/2.jpg')"*/
}

Button
{
	themeColor: #12FF00;
}

.accLabels {
	color: #f2c926;
	font-weight: bold;
	fontFamily: Calibri;
	fontSize: 14;
}
@font-face
{
	fontFamily: Calibri;
	fontWeight: bold;
	fontStyle: normal;
	src: url("calibrib.ttf");
}
@font-face
{
	fontFamily: Calibri;
	fontWeight: normal;
	fontStyle: normal;
	src: url("calibri.ttf");
}
